*{
    margin:0;
    padding:0;
    box-sizing: border-box
}
 
  /*Background colori e allineamento titolo al logo*/
  
body {
    background-color: #F6F8F9
}

header {
    height: 70px;
padding-top: 10px;
margin-bottom: 30px;
background-color: rgb(255, 255, 255);
      }



.logo {
    padding-left: 13px;
    vertical-align: middle;
}

.titolo {
    display: inline;
    vertical-align: middle;
    font-family: Arial;
    font-weight: bolder;
    font-size: 37px;

}


/*Creazione box al centro della pagina e aggiunta pulsanti*/
.box {
margin: auto;
background-color: aliceblue;
height: 480px;
width: 950px;

}

.pulsanti {
    padding: 20px 40px;
}

.bottone {
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
    border: 1px solid;    
}


.task {
    background-color: rgb(79, 79, 231);
    font-style: italic;
}


.section {
    background-color: white;
    font-style: italic;
}


hr{
    border: 1px ridge ;
}

/*Inserimento parametri per la lista*/

.lista {
    margin: 30px 40px;
}

.lista ul {
 list-style: none;
 font-family: Arial, Helvetica, sans-serif;
}

.lista li {
    margin:8px
}

/*Inserimento parametri cerchi*/

.cerchio {
    display: inline-block;
    width: 15px;
    height: 15px;
margin-right: 10px;
border-radius: 50%;
line-height: 15px;
font-size: 10px;
text-align: center;
}

.v {
    border:1px solid; color: green;
    
}

.x{
    border: 1px solid; color: red;
}

/*Inserimento colori luce*/

.blu {
    margin-left: 8px;
    font-size: small;
    color: white;
    background-color: rgba(73, 73, 255, 0.886);
    border-radius: 30%;
    display: inline;
    
}

.viola {
    margin-left: 8px;
    font-size: small;
    color: white;
    background-color: purple;
    border-radius: 30%;
    display: inline;
}

.verde{
    margin-left: 8px;
    font-size: small;
    color: white;
    background-color: green;
    border-radius: 30%;
    display: inline;

}

.arancione{
    margin-left: 8px;
    font-size: small;
    color: white;
    background-color: orange;
    border-radius: 30%;
    display: inline;

}


.rosa {
    margin-left: 8px;
    font-size: small;
    color: white;
    background-color: rgb(239, 90, 115);
    border-radius: 30%;
    display: inline;

}

.verde {
    margin-left: 8px;
    font-size: small;
    color: white;
    background-color: green ;
    border-radius: 30%;
    display: inline;

}

.celeste {
    margin-left: 8px;
    font-size: small;
    color: white;
    background-color: rgb(67, 0, 235) ;
    border-radius: 30%;
    display: inline;

}